[submodule "schema"]
	path = submodules/schema
	url = https://github.com/citation-style-language/schema.git
[submodule "submodules/locales"]
	path = submodules/locales
	url = https://github.com/zepinglee/csl-locales.git
	branch = ctan
[submodule "submodules/abbreviations"]
	path = submodules/abbreviations
	url = https://github.com/citation-style-language/abbreviations.git
[submodule "submodules/jabref-abbrv"]
	path = submodules/jabref-abbrv
	url = https://github.com/JabRef/abbrv.jabref.org.git
[submodule "tests/test-suite"]
	path = tests/fixtures/test-suite
	url = https://github.com/citation-style-language/test-suite.git
[submodule "submodules/luaxml"]
	path = submodules/luaxml
	url = https://github.com/zepinglee/LuaXML.git
	branch = citeproc-lua
[submodule "submodules/lua-uca"]
	path = submodules/lua-uca
	url = https://github.com/zepinglee/lua-uca.git
[submodule "submodules/lua-uni-algos"]
	path = submodules/lua-uni-algos
	url = https://github.com/zepinglee/lua-uni-algos.git
[submodule "submodules/unicode-data"]
	path = submodules/unicode-data
	url = https://github.com/latex3/unicode-data.git
[submodule "tests/locales"]
	path = tests/locales
	url = https://github.com/citation-style-language/locales.git
